<div class="container-fluid background-container">
  <!-- Título e Botão -->
  <div class="titulo-e-botao text-center">
    <h2 class="titulo-mural">Meu Mural</h2>
    <button type="button" class="botao" (click)="navegarParaFormulario()">
      Adicionar Pensamento
    </button>
  </div>
  <!-- Cards -->
  <div class="row area-cards justify-content-center ">
    @for (pensamento of listaPensamentos; track pensamento.id) {
    <div class="col-md-6 col-lg-4 mb-5 card-individual">
      <div class="card card-display" [class]="buscarClasseCard(pensamento.modelo)">
        <div class="card-body">
          <h1 class="aspas" [class]="buscarClasseAspas(pensamento.modelo)"><i class="bi bi-quote"></i></h1>
          <p class="texto-card">
            {{ pensamento.pensamento }}
          </p>

          <div
            class="autor-icons d-flex justify-content-between align-items-center"
          >
            <p class="autor-card mb-0">{{ pensamento.autor }}</p>
            <div class="icons">
              <i
                class="fa-solid fa-pen-to-square me-2"
                (click)="editarPensamento(pensamento)"
              ></i>
              <i
                class="fa-regular fa-trash-can"
                (click)="confirmarDeletar(pensamento)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    } @empty {
    <div class="col-12 text-center">
      <p>Nenhum pensamento encontrado.</p>
    </div>
    }
  </div>
</div>
