<header class="header">
  <div class="container conteudo-header">
    <div class="row align-items-center h-100">
      <div class="col-6">
        <img src="assets/logo-memoteca.png" alt="Memoteca Logo" class="logo">
        <p class="texto">Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias.</p>
      </div>
      <div class="col-6 text-end">
        <img src="assets/computador-cabecalho.png" alt="Computador" class="computador">
      </div>
    </div>
  </div>
</header>
